<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="padding-top: 64px;">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178504296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-178504296-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/icon/site.webmanifest">

    {% if title %}
    <title>MCC Tracker - {{ title }}</title>
    {% else %}
    <title>MCC Tracker</title>
    {% endif %}
</head>
<body>
    
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            {% if title %}
                <a class="navbar-brand mr-4" href="/">MCC Tracker - {{ title }}</a>
            {% else %}
                <a class="navbar-brand mr-4" href="/">MCC Tracker</a>
            {% endif %}
            </div>

            <div class="navbar-collapse" id="navbarToggle">
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <form method="post" action="">
                    <div>
                        {{ form.username.lable}}
                        {{ form.username}}
                    </div>
                </form>
            </div>

        </nav>
    </header>
    <main role="main" class="container">
        <div class="row" style="padding-top: 12px;">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    {% if userData %}
                    <div>
                        <p>
                            <center>
                                {% for game in userData %}
                                <button class="btn btn-primary games" type="button" data-toggle="collapse" data-target="#{{ game | replace(': ','') | replace(' ', '') }}"><img src="static/images/{{ game | replace(': ','') | replace(' ', '') }}.jpg" alt="{{ game }} width="100" height="100"></button>
                                {% endfor %}
                            </center>
                        </p>
                    </div>
                    <div class="accordion collapse show" id="invisaccord">
                        {% for game,levels in userData.items() %}

                        <div class="accordion collapse" id="{{ game | replace(': ','') | replace(' ', '') }}" data-parent="#invisaccord">
                            {% for level, achivements in levels.items() %}
                            <div class="card levels">
                                <div class="card-header" id="heading{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed button-style" type="button" data-toggle="collapse" data-target="#collaspe{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}" style="background-image: url('static/images/{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}.jpg')">
                                            <span style="background-color: rgba(58, 68, 85, .5); border-radius: 3px;">&nbsp;{{ level }}&nbsp;</span>
                                            <div class="achivement-text">
                                                <span style="background-color: rgba(58, 68, 85, .5); border-radius: 3px; font-size= 16px;">&nbsp;{{achivements.userAchivements}}/{{achivements.totalAchivements}}&nbsp;</span>
                                            </div>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collaspe{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}" class="collapse" data-parent="#{{ game | replace(': ','') | replace(' ', '') }}">
                                    <div class="card-body">
                                        <table class="table">
                                            <thread>
                                                <tr>
                                                    <th scope="col">Logo</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Unlock Time</th>
                                                    <th scope="col">Precent</th>
                                                </tr>
                                            </thread>
                                            <tbody>
                                                {% for achivement in achivements.values() %}
                                                {% if achivement.displayName %}
                                                <tr>
                                                    <th scope="row"><img src="{{ achivement.icon }}" alt="{{ achivement.displayName }}"></th>
                                                    <td>{{ achivement.displayName }}</td>
                                                    <td>{{ achivement.description }}</td>
                                                    <td>
                                                        {% if achivement.achieved == 1 %}
                                                        {{ achivement.unlockTime }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ achivement.percent }}</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div><!--./end top level new accordion -->
                    {% else %}
                    <div class="into-blurb">
                        Welcome to MCCTracker.com the site that allows you to efficiently track all of your Achievement progress in the Master Chief Collection. Please copy your
                        Steam Profile page url into the box and hit enter and your information should pop up. Currently our site only works with Steam but we're looking into
                        adding Xbox Live support. Enjoy!
                        <br><br>Please note that your Steam Profile needs to be set to Public. And that only games that have been released on Steam's version of MCC will work.
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
        <div class="into-blurb contact container">
            <center>
                For issues or suggestions email <a href="mailto:mcctracker@gmail.com">MCCTracker@gmail.com</a> or message us on <a href="https://reddit.com/u/MCCTracker">Reddit</a>.
            </center>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>