<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="padding-top: 64px;">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178504296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-178504296-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Search meta tags -->
    <meta name="description" content="Efficiently track all of your achievement in Halo: The Master Chief Collection sorted by game and level." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mcctracker.com/">
    <meta property="og:title" content="MCC Tracker">
    <meta property="og:description" content="Efficiently track all of your achievement in Halo: The Master Chief Collection sorted by game and level.">
    <meta property="og:image" content="/static/images/logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://mcctracker.com/">
    <meta property="twitter:title" content="MCC Tracker">
    <meta property="twitter:description" content="Efficiently track all of your achievement in Halo: The Master Chief Collection sorted by game and level.">
    <meta property="twitter:image" content="/static/images/logo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}?ver=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/icon/site.webmanifest">

    {% if title %}
    <title>MCC Tracker - {{ title }}</title>
    {% else %}
    <title>MCC Tracker</title>
    {% endif %}
</head>
<body>
    
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            {% if title %}
                <a class="navbar-brand mr-4" href="/">MCC Tracker - {{ title }}&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ avatar }}" height="50" width="50" /></a>
            {% else %}
                <a class="navbar-brand mr-4" href="/">MCC Tracker</a>
            {% endif %}
            </div>

            <div class="navbar-collapse" id="navbarToggle">
            <!-- App and user name -->
            <div class="navbar-nav">
                <form method="post" action="">
                    <div>
                        {{ form.username.lable}}
                        {{ form.username}}
                    </div>
                </form>
            </div>

        </nav>
    </header>
    <main role="main" class="container">
        <div class="row" style="padding-top: 12px;">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    {% if userData %}
                    <!-- Start top row with game icons -->
                    <div>
                        <p>
                            <center>
                                {% for game in userData %}
                                <button class="btn btn-primary games" type="button" data-toggle="collapse" data-target="#{{ game | replace(': ','') | replace(' ', '') }}"><img src="static/images/{{ game | replace(': ','') | replace(' ', '') }}.jpg" alt="{{ game }} width="100" height="100"></button>
                                {% endfor %}
                            </center>
                        </p>
                    </div>
                    <!-- End game icons -->
                    <!-- Start game accordian -->
                    <div class="accordion collapse show" id="invisaccord">
                        {% for game,levels in userData.items() %}

                        <div class="accordion collapse" id="{{ game | replace(': ','') | replace(' ', '') }}" data-parent="#invisaccord">
                            {% for level, achivements in levels.items() %}
                            <div class="card levels">
                                <div class="card-header" id="heading{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed button-style" type="button" data-toggle="collapse" data-target="#collaspe{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}" style="background-image: url('static/images/{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}.jpg')">
                                            <span style="background-color: rgba(58, 68, 85, .5); border-radius: 3px;">&nbsp;{{ level }}&nbsp;</span>
                                            <div class="achivement-text">
                                                <span style="background-color: rgba(58, 68, 85, .5); border-radius: 3px; font-size= 16px;">&nbsp;{{achivements.userAchievements}}/{{achivements.totalAchievements}}&nbsp;</span>
                                            </div>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collaspe{{ game | replace(': ','') | replace(' ', '') }}{{ level | replace(': ','') | replace(' ','') }}" class="collapse" data-parent="#{{ game | replace(': ','') | replace(' ', '') }}">
                                    <div class="card-body">
                                        <table class="table">
                                            <thread>
                                                <tr>
                                                    <th scope="col"><center>Logo</center></th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col"><div class="hoverable"><span title="All times in UTC">Unlock Time</span></div></th>
                                                    <th scope="col"><div class="hoverable"><span title="Percent of all players">Percent</span></div></th>
                                                </tr>
                                            </thread>
                                            <tbody>
                                                {% for achivement in achivements.values() %}
                                                {% if achivement.displayName %}
                                                <tr>
                                                    <th scope="row"><img src="{{ achivement.icon }}" alt="{{ achivement.displayName }}"></th>
                                                    <td>
                                                        <a class="wiki" href="https://www.halopedia.org/{{ achivement.displayName | replace(' ','_') | replace('?','%3F') }}" target="_blank">
                                                            {{ achivement.displayName }}
                                                        </a>
                                                        {% if achivement.videoURL %}
                                                            <br /><a class="videoURL" href="{{ achivement.videoURL }}" target="_blank">(Walkthrough)</a>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ achivement.description }}</td>
                                                    <td>
                                                        {% if achivement.achieved == 1 %}
                                                        {{ achivement.unlockTime }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ achivement.percent }}%</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <!-- End game accordion -->
                    {% else %}
                    <div class="into-blurb">
                        Welcome to MCCTracker.com, the site that allows you to efficiently track all of yours or your friends achievement in Halo: The Master Chief Collection.
                        As of now the achivements are broken down by game and level with some filtered to a "General" tab that are not proprietary to a particular game. In the future we would like to
                        add selectable categories (e.g., Skulls, Par Time, etc) but there are a few things to implement before that. Our hopes is that this site is living and updating
                        with players need so please reach out to us with the contact info below with suggestions or corrections.<br /><br />
                        To Use:<br />
                        - Hover over your name in the top bar of Steam<br />
                        - Select "Profile"<br />
                        - Right click anywhere and click "Copy Page URL"<br />
                        - Past URL in text box above and click enter<br /><br />
                        Please note that your Steam Profile needs to be set to Public and you need to own Halo:MCC. Also you can use the same "Copy Page URL" method to view friends achivements.<br /><br />
                        This website currently only works for Steam achivemnts and not Xbox Live. If there is enough interest we can work on displaying Xbox Live as well.<br />
                        We know the site is pretty bad on mobile right now, that is something we plan to work on. If you view it in landscape you can at lesat view all the data.
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
        <div class="into-blurb contact container">
            <center>
                For issues or suggestions email <a href="mailto:mcctracker@gmail.com">MCCTracker@gmail.com</a> or message us on <a href="https://reddit.com/u/MCCTracker">Reddit</a>.
            </center>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
